*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    color: #000000;
}
.wrapper{
    width: 100%;
    margin: 0px auto;
}
body{
    width: 100%;
    height: 100%;
    background: url("images\ \(6\).jpg") no-repeat center fixed;
    background-size: cover;
}
a{
    text-decoration: none;
    color: blue;
}
p{
    font-size: 1.8rem;
    font-weight: 300;
}
img{
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 7px #000000;
}
.container{
    width: 90%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.heading{
    text-align: center;
    margin-top: 10rem;
}
.heading h1{
    font-size: 2.5rem;
    color:  #ff6600;
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    margin-bottom: 1rem;
}
.heading h1::before,
.heading h1::after{
    content: " ";
    position: relative;
    bottom: -.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.75);
}
.heading h1::before{
    width: 10rem;
    height: 3px;
    border-radius: .8rem;
}
.heading h1::after{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    bottom: -1rem;
}
.heading h3{
    font-size: 1.6rem;
    font-weight: 300;
}
header{
    width: 100%;
    height: 100vh;
}
.top{
    left: 0px;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: -100vh;
    z-index: 50;
    background-color: #000000;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    transition: all 650ms cubic-bezier(1,0,0,1);
}
.nav_list{
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_list a{
    color: #ffffff;
}
li{
    margin: 0 2rem;
}
.nav_link{
    font-family: 'The Historia Demo', sans-serif;
    font-size: 4.5rem;
    padding: 1rem;
}
.nav_link:hover,
.nav_link:focus{
    background: linear-gradient(to top, #ffe838, #fd57bf);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.top.open{
    top: 0;
    border-radius: initial;
}
.menu_toggler{
    position: absolute;
    top: 5rem;
    right: 5rem;
    width: 5rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1500;
    transition: transform 650ms ease-out;
}
.menu_toggler.open{
    transform: rotate(-45deg);
}
.bar{
    background: linear-gradient(to right, #000000,  #FF6600);
    width: 100%;
    height: 4px;
    border-radius: .8rem;
}
.bar.half{
    width: 50%;
}
.bar.start{
    transform-origin: right;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}
.open .bar.start{
    transform: rotate(-450deg) translateX(.8rem);
}
.bar.end{
    align-self: flex-end;
    transform-origin: left;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}
.open .bar.end{
    transform: rotate(-450deg) translateX(-.8rem);
}
.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 1;
}.main h1{
    font-size: 20rem;
    font-family: 'The Historia Demo', sans-serif;
    background: linear-gradient(to top,  #FFCC00,   #6600CC);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1rem;
    user-select: none;
}
.main h4{
    font-size: 2rem;
    font-weight: 300;
}
.profile_image{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin-right: 5rem;
    float: left;
    padding-top: 3rem;
}
.social_media{
    text-align: center;
    font-size: 13px;
    margin-top: 20px;
}
.linkedin{
    background-color: #003366;
    margin-left: 6px;
    box-shadow: 0 7px #000000;
}
.middle{
    width: 100%;
    height: 100%;
    background: url("download.jpg") no-repeat center fixed;
    background-size: cover;
    -webkit-box-shadow: 12px 12px 45px 0 #759FFF;
    box-shadow: 12px 12px 45px 0 #759FFF;
}
.my_skills{
    margin-top: 5rem;
}
.skill{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
.list{
    font-size: 20px;
    float: left;
    padding: 2rem;
}
.heading h1{
    font-size: 35px;
}
.middle{
    display: flex;
}
.lt{
    height: 100%;
    background: url("download.jpg") no-repeat center fixed;
    background-size: cover;
    width: 59%;
    margin-right: 1%;
}
.rt{
    height: 100%;
    background: url("download.jpg") no-repeat center fixed;
    background-size: cover;
    width: 39%;
}
.blog .list .tec:hover,
.blog .list .use:hover,
.blog .list .alert:hover,
.blog .list .com:hover{
    color:   #993300;
}
.experience .heading h1{
    padding-top: 50px;
}
.blog .heading h1{
    padding-top: 50px;
}
.clear{
    clear: both;
}
footer{
    padding: 15px;
}
.contact{
    padding-bottom: 10rem;
}
form{
    width: 70%;
    margin: 0 auto;
}
form label{
    font-size: 1.5rem;
}
input{
    width: 100%;
    padding: 1rem;
    margin-bottom: 20px;
    border: none;
    outline-color: #fd57bf;
}
input[type="submit"]{
    width: initial;
    background-color: #fd57bf;
    color: #eee;
    padding: 1rem 2rem;
    border-radius: .8rem;
    cursor: pointer;
    transition: background-color 650ms;
}
input[type="submit"]:hover{
    color: #221e3f;
    background-color: #ffe838;
}
p{
    padding-left: 2rem;
}
.btn-wrapper{
    text-align: center;
    margin: 2px 0px;
    font-size: 16px;
}
.btn-wrapper p{
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}
.btn{
    display: inline-block;
    padding: 12px 24px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
.btn:active{
    box-shadow: none;
    position: relative;
    top: 7px;
}
.facebook{
    margin-right: 10px;
    background-color: #3b5998;
    box-shadow: 0 7px #003366;
}
.twitter{
    background-color: #55acee;
    box-shadow: 0 7px #3b5998;
}
.signup{
    background-color: #239b76;
    box-shadow: 0 7px #1a7940;
}

@media screen and (max-width: 768px) {
    .menu_toggler{
        top: 2rem;
        right: 2rem;
    }
    .main h1{
        font-size: 13rem;
        padding-top: 100px;
    }
    .main h4{
        font-size: 1.7rem;
    }
    .container .heading h1{
        font-size: 6rem;
    }
    .container{
        flex-direction: column;
    }
    .middle{
        width: 100%;
        display: flex;
        flex-flow: column  wrap;
    }
    .lt{
        background: url("download.jpg") no-repeat center fixed;
        background-size: cover;
        font-size: 2rem;
        width: 100%;
    }
    .rt{
        background: url("download.jpg") no-repeat center fixed;
        background-size: cover;
        width: 100%;
        font-size: 2rem;
    }
    p{
        font-size: 2rem;
        flex-wrap: wrap;
        align-content: flex-start;
    }
    .nav_list{
        flex-direction: column;
    }
    li{
        margin: 2rem 0;
        font-size: 2.6rem;
    }
    .nav_link{
        font-size: 2.5rem;
    }
    .details .nav{
        flex-direction: initial;
    }
    .details li{
        margin: 0 2rem;
    }
    .profile_image{
        margin: 0 0 7rem 0;
    }
    form{
        width: 100%;
    }
}


@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {
    .menu_toggler{
        top: 2rem;
        right: .5rem;
    }
    body{
        background: url("images\ \(6\).jpg") no-repeat fixed center;
        background-size: cover;
    }
    .main h1{
        font-size: 8rem;
        padding-top: 100px;
    }
    .main h4{
        font-size: 1.7rem;
    }
    .middle{
        display: flex;
        flex-flow: column  wrap;
    }
    .lt{
        font-size: 2rem;
        width: 100%;
    }
    .rt{
        width: 100%;
        font-size: 2rem;
    }
    .heading h1{
        font-size: 6rem;
    }
    p{
        font-size: 3rem;
    }
    .nav_list{
        flex-direction: column;
    }
    li{
        margin: 2rem 0;
        font-size: 2.6rem;
    }
    .nav_link{
        font-size: 4.5rem;
    }
    .details .nav{
        flex-direction: initial;
    }
    .details li{
        margin: 0 2rem;
    }
      .profile_image{
        margin: 0 0 7rem 0;
    }
    form{
        width: 100%;
    }
}
@media 
  (min-device-width: 800px) 
  and (max-device-width: 1280px) {
    .menu_toggler{
        top: 2rem;
        right: 2rem;
    }
    body{
        background: url("images\ \(6\).jpg") no-repeat fixed center;
        background-size: cover;
    }
    .main h1{
        font-size: 8rem;
        padding-top: 100px;
    }
    .main h4{
        font-size: 1.7rem;
    }
    .heading h1{
        font-size: 6rem;
    }
    .middle{
        display: flex;
        flex-flow: column  wrap;
    }
    .lt{
        font-size: 2rem;
        width: 100%;
    }
    .rt{
        width: 100%;
        font-size: 2rem;
    }
    p{
        font-size: 3rem;
    }
    .nav_list{
        flex-direction: column;
    }
    li{
        margin: 2rem 0;
        font-size: 2.6rem;
    }
    .nav_link{
        font-size: 4.5rem;
    }
    .details .nav{
        flex-direction: initial;
    }
    .details li{
        margin: 0 2rem;
    }
      .profile_image{
        margin: 0 0 7rem 0;
    }
    form{
        width: 100%;
    }
}
